
    @import './utils/variables';
    @import './utils/extensions';
    @import './utils/mixins';
    @import './base/polices';
    @import './utils/keyFrames';

 *{
    box-sizing: border-box;
  }

  body
  {
      margin: 0;
      padding: 0;
      width: 100%;
  }
  

    header
    {

        .homeHeader{

            padding: 1rem;

            img{
                @extend %image ;
                height: unset;
            }

        }
    }


.container{
    .location{
        width: 100%;
        background-color:lighten($dark-grey, 8%) ;
        border-top: 0.12rem solid  $dark-grey;
        @include alignmentCenter(center, center) ;



        .positionArea{
            width: 8rem;
            width: 90%;
            margin-left: 30%;
            @include displayFlex(flex,row,null);
            @include alignmentCenter(center, center) ;

    
            .iconPosition
            {
                margin-right: 5%;
            }
        }

    }

    
    .services{

        flex-direction: column;
        background-color: lighten($dark-grey, 16%) ;
        
        height: 18rem;
        padding-top: 2rem;

        h1, p
        {
            width: 90%;
            margin-left: 5%;
            @include alignmentCenter(center, center) ;
        }

        h1
        {
            @extend %title;
        }
        p
        {
            font-family: 'Roboto' ;
            font-weight: normal;
        }

        button
        {
            @extend %btn;
            @include alignmentCenter(center, center) ;
            width: 60%;
            margin-left: 20%;            
        }

    }

}




.fonctionnalities
{
    width: 100%;
    height: 28rem;
    padding-top: 2rem;
    background-color: $white;

    h1
    {
        @extend %title ;
        @extend %textOverflow;
    }
   
    &__card 
    {
        @extend %card;
        @include alignmentCenter(center, center) ;        
    }
 
    &__id
    {
        @extend %id; 
    }

    &__icon
    {
        @extend %margin;
        @extend %icon;
    }

    &__title
    {
        font-size: 1.2rem;
        font-weight: bold;
        @extend %textOverflow;
    }

}



.restaurant
{
    background-color: lighten($dark-grey, 16%);
    height: 77rem;
    padding-top: 2rem;


    h1
    {
        @extend %title ;
        @extend %textOverflow;
    }


    .restaurantCard
    {
        height: 16rem;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 1rem;
        background-color: $white;
        border-radius: 1rem ;
        position: relative;
        @extend %boxShadow;


        a{
            text-decoration: none; 
            color: black;
        }

        &__image
        {
            @extend %image;
            @include borderRadius('top',1rem);
        }
        &__isNew
        {
            @include displayFlex(flex,null,space-around);
            @include alignmentCenter(center,center);

            height: 15%;
            width: 30%;
            position: absolute;
            top: 5%;
            right: 10%;
            font-size: 1rem;
            font-weight: bold;
            background-color:$tertiary;
            color:  darken($tertiary, 30%);
        }

        &__description
        {
            
            @include displayFlex(flex,null,space-between);
            margin:0.5rem 1% 0 1% ;
            height: 22%;
            width: 90%;
            border-radius: 0 0 0.5rem 0.5rem ;

            &__like 
            {
                margin: 0.6rem 0 0 -80%;
                width: 10%;

                .liked, .unLiked
                {
                    color: black;
                    font-size: 1.5rem;
                }

                .unLiked{
                    display: none;
                }

            }
    
            &__like:hover{
                .liked
                {
                    display: none;
                }

                .unLiked{
                    display: block;
                    color: $primary;
                    animation:translateY 500ms ;
                }
            }

            &__text
            {
                width: 80%;
                
                h2, p
                {
                    width: 100%;
                    @extend %textOverflow;
                    margin:0 0 0 0.5rem ;
                }

            }

        }
    }
}


footer
{
    @extend %footer;
}

/***********   menu   ***********/


.menu-page-header{
    
    @include displayFlex(flex,row,null);
    height: 4rem;
    width: 90%;
    background-color: bisque;
    padding-top: 1rem;

    .fa-arrow-left-position{
        font-size: 1.5rem;
        color: darken($dark-grey, 40%);
    }
    a{ 
        margin-left: 8%;
        margin-right: 5%;
    }

    img
    {
        @extend %image;
        width: unset;
        margin-left: 10%;
        //width: 90%;
    }
}

main{

    .container{

        //background-image: url("/assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        //background-image: url('./assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg');
        img{
            
            @extend %image;
            height: 14rem;
            width: 100%;

        }

        .menuArea
        {
           
            background-color: lighten($dark-grey, 16%) ;   
            @include borderRadius('top',2.5rem);
            margin-top: -3rem;

            &__title
            {
                @extend %title ;
                width: 90%;
                padding-top: 0.5rem;
                @include displayFlex(flex,null,space-between);
                align-items: center;
                font-family: 'Shrikhand' ;   
            }
            
            &__menu
            {

                @extend %menuCard;

                // On hver display selected area

                .menuItem1{
                    animation: easyAppearance .5s ease-in-out; 
                }
                .menuItem2{
                    animation: easyAppearance 1s ease-in-out; 
                }
                .menuItem3{
                    animation: easyAppearance 1.5s ease-in-out; 
                }



                //   On hver display selected area
                
                .menuArea__menu__item:hover{

                    .selected{
                        margin-right: 0;
                        .rot{
                         //   animation:rotat 500ms cubic-bezier(.4,.1,.6,.9);
                        }
                
                    }
                    .desc{
                        width:60% ;
                    }

                }


                
            }

            button
            {
                @extend %btn;
                width: 60%;
                margin: 20%;
            }

        } 

    }
}






