%menuHeader
{
    @include displayFlex(flex,null,null);
    align-items: center;
    height: 5rem;
    width: 90%;
    margin-left: 5%;
    padding-top: 1rem;

    .fa-arrow-left-position{
        font-size: 1.5rem;
        color: darken($dark-grey, 80%);
    }
    a{ 
        margin-left: 8%;
        margin-right: 5%;
        width: 10%;
    }
    p{
        margin-left: 5%;
        font-size: 2rem;
        font-family: 'Roboto';
        width: 80%;
        font-family: 'Shrikhand';
    }

    @media screen and (min-width: 768px){

       text-align: center;
       margin-left: 0%;
       p{
        margin-left: 0%;
       }

    }
}