%restaurantCard
{
    height: 16rem;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 1rem;
    background-color: $white;
    border-radius: 1rem ;
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0 0.12rem 0.24rem 0;
}