/* Variables */
/*@keyframes translateY {
    from { 
        transform:scale(.1);
    }
    to { 
        transform: scale(1);
    }
}*/
@keyframes opac {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/*
@keyframes scalePolice {
    0% {
        //transform: rotate(0deg);
        font-size: .1rem; 

       // transform: translateX(-10rem);

    }
    25%{
        font-size: 10rem; 
        transform: translateX(-20%);

    }
    50%{
        font-size: .1; 
        //transform: translateX(-4rem);

    }
    75%{
        font-size: 10rem; 
        //transform: translateX(-8rem);

    }
    100%{
        //transform: rotate(360deg);
        font-size: .1rem; 
        //transform: translateX(-10rem);

    }

}*/
/*
@keyframes rotete {
    from { 
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
  }*/
@keyframes easyAppearance {
  from {
    transform: translateY(0.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(1turn);
    opacity: 1;
  }
  25% {
    transform: rotate(2turn);
  }
  50% {
    transform: rotate(3turn);
  }
  75% {
    transform: rotate(4turn);
  }
  100% {
    transform: rotate(5turn);
    opacity: 1;
  }
}
/********************************
*
* General configuration
*
************************************/
.restaurant .restaurantCard__description__text h2, .restaurant .restaurantCard__description__text p, .restaurant h1, .fonctionnalities__title, .fonctionnalities h1, main .container .menuArea__menu .menuArea__menu__item .descPriceSelected .desc p, main .container .menuArea__menu .menuArea__menu__item .descPriceSelected .desc h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.restaurant .restaurantCard__description__text p, .fonctionnalities__title, .container .services p, .container .location {
  font-weight: 100;
  font-family: "Roboto";
}

.fonctionnalities__id {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.7555rem;
  color: white;
  background-color: #9356DC;
  margin-left: -0.8rem;
  padding-top: 0.25rem;
}

.fonctionnalities__icon {
  margin-left: 5%;
  margin-right: 5%;
}

.fonctionnalities__icon {
  font-size: 1.3rem;
  vertical-align: middle;
  color: #C3C3C4;
}

.fonctionnalities__card {
  display: flex;
  width: 80%;
  height: 5rem;
  margin-top: 1rem;
  margin-left: 10%;
  border-radius: 1rem;
  border: solid 0.1rem #f6f6f7;
  background-color: #f6f6f7;
  box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(221, 218, 218, 0.76);
}
.fonctionnalities__card:hover {
  background-color: #f6f0fc;
}
.fonctionnalities__card:hover .iconFonction {
  color: #9356DC;
}

.restaurant .restaurantCard, main .container .menuArea button, .container .services button {
  box-shadow: 0.12rem 0.12rem 0.12rem 0.12rem #C3C3C4;
}

main .container .menuArea__title, .restaurant .restaurantCard__description__text h2, .restaurant h1, .fonctionnalities h1, .container .services h1, main .container .menuArea__menu .menuArea__menu__title span, main .container .menuArea__menu .menuArea__menu__title h1, footer p {
  margin-left: 5%;
  font-size: 1.4rem;
  font-family: "Roboto";
  width: 90%;
}

main .container .menuArea button, .container .services button {
  height: 3.5rem;
  border: none;
  border-radius: 1.75rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 3%;
  background: linear-gradient(to bottom right, #FF79DA 1%, #9356DC 99%);
}

.restaurant .restaurantCard__image, header .homeHeader img {
  height: 70%;
  width: 100%;
  color: black;
  object-fit: cover;
  margin-bottom: 0;
}

footer {
  padding-top: 0.1rem;
  background-color: #3B3B3C;
  color: white;
  height: 14rem;
}
footer p {
  font-weight: unset;
  font-family: "Shrikhand";
}
footer ul {
  list-style-type: none;
  margin-left: -1.5rem;
}
footer ul li {
  margin-bottom: 0.3rem;
  font-size: 1.15rem;
}
footer ul li i {
  font-size: 0.7rem;
  margin-right: 0.3rem;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

/*%loader {
    border: .2rem solid #f3f3f3; // Light grey 
    border-top: .2rem solid $primary; // Blue /
    border-radius: 50%;
    width: 8rem;
    height:8rem;
    //animation: translateY 1s linear infinite;

  }   */
main .container .menuArea__menu {
  width: 100%;
}
main .container .menuArea__menu .menuArea__menu__title {
  display: flex;
  flex-direction: column;
}
main .container .menuArea__menu .menuArea__menu__title h1 {
  font-family: "Robot";
  font-weight: 100;
  text-transform: uppercase;
}
main .container .menuArea__menu .menuArea__menu__title span {
  font-size: 7rem;
  margin-top: -7.5rem;
  margin-bottom: 0;
  color: #99E2D0;
  text-decoration-line: underline;
  text-decoration-thickness: 0.2rem;
}
main .container .menuArea__menu .menuArea__menu__item {
  height: 5rem;
  width: 90%;
  margin: 1rem 0 0 5%;
  padding: 0 0 0 3%;
  border-radius: 1rem 1rem 1rem 1rem;
  background-color: white;
  box-shadow: 0.009rem 0.009rem 0.009rem 0.009rem #d8d8d8;
  display: flex;
}
main .container .menuArea__menu .menuArea__menu__item .descPriceSelected {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
}
main .container .menuArea__menu .menuArea__menu__item .descPriceSelected .desc {
  height: 70%;
  width: 70%;
  transition: all 500ms ease-in-out;
}
main .container .menuArea__menu .menuArea__menu__item .descPriceSelected .desc h2 {
  font-size: 1rem;
  font-family: "Roboto";
  margin-top: 0.1rem;
}
main .container .menuArea__menu .menuArea__menu__item .descPriceSelected .desc p {
  max-width: 100%;
  font-family: "Roboto";
  font-weight: 100;
  margin-top: -0.3rem;
  color: black;
}
main .container .menuArea__menu .menuArea__menu__item .descPriceSelected .descPrice {
  width: 10%;
  margin-top: 1.9rem;
  font-weight: bold;
  margin-right: 0.5rem;
  text-align: right;
}
main .container .menuArea__menu .menuArea__menu__item .descPriceSelected .selected {
  width: 20%;
  height: 100%;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -20%;
  transition: all 500ms ease-in-out;
  color: white;
  text-align: center;
  box-shadow: 0.009rem 0.009rem 0.009rem 0.009rem #d8d8d8;
}
main .container .menuArea__menu .menuArea__menu__item .descPriceSelected .selected i {
  font-size: 1.8rem;
  margin-top: 1.5rem;
}
main .container .menuArea__menu .menuArea__menu__item .descPriceSelected .selected .rot {
  transition: all 600ms ease-in-out;
}

@font-face {
  font-family: "Roboto";
  src: url("../css/Police/Roboto/Roboto-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Shrikhand";
  src: url("../css/Police/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
/*@keyframes translateY {
    from { 
        transform:scale(.1);
    }
    to { 
        transform: scale(1);
    }
}*/
@keyframes opac {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/*
@keyframes scalePolice {
    0% {
        //transform: rotate(0deg);
        font-size: .1rem; 

       // transform: translateX(-10rem);

    }
    25%{
        font-size: 10rem; 
        transform: translateX(-20%);

    }
    50%{
        font-size: .1; 
        //transform: translateX(-4rem);

    }
    75%{
        font-size: 10rem; 
        //transform: translateX(-8rem);

    }
    100%{
        //transform: rotate(360deg);
        font-size: .1rem; 
        //transform: translateX(-10rem);

    }

}*/
/*
@keyframes rotete {
    from { 
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
  }*/
@keyframes easyAppearance {
  from {
    transform: translateY(0.5rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(1turn);
    opacity: 1;
  }
  25% {
    transform: rotate(2turn);
  }
  50% {
    transform: rotate(3turn);
  }
  75% {
    transform: rotate(4turn);
  }
  100% {
    transform: rotate(5turn);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

header .homeHeader {
  width: 80%;
  height: 5rem;
}
header .homeHeader img {
  margin-left: 10%;
  margin-top: 1rem;
  height: unset;
}

.container {
  /*.loadingArea{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:999;

    @include displayFlex(flex,null,space-around);
    align-items: center;
    height: 100%;
    width: 90%;
    background-color: white;
    opacity: 0;
    transform-origin: top left;
    animation: opac 3s ease-in-out ;


    .loader {

        border: .5rem solid white;  
        border-top: .5rem solid $primary; 
        border-radius: 50%;
        width: 10rem;
        height:10rem;
        background-color: blueviolets;
        opacity: 0;
        animation: spin 4s linear ;
    }

  }  */
}
.container .location {
  width: 100%;
  background-color: #d8d8d8;
  border-top: 0.12rem solid #C3C3C4;
  align-items: center;
  text-align: center;
  color: black;
}
.container .location .positionArea {
  width: 8rem;
  width: 90%;
  margin-left: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.container .location .positionArea .iconPosition {
  margin-right: 5%;
}
.container .services {
  flex-direction: column;
  background-color: #ececec;
  height: 18rem;
  padding-top: 2rem;
}
.container .services h1, .container .services p {
  width: 90%;
  margin-left: 5%;
  align-items: center;
  text-align: center;
}
.container .services button {
  width: 60%;
  margin-left: 20%;
  align-items: center;
  text-align: center;
  transition: all 500ms ease-in-out;
}
.container .services button:hover {
  filter: brightness(120%);
}

.fonctionnalities {
  width: 100%;
  height: 28rem;
  padding-top: 2rem;
  background-color: white;
}
.fonctionnalities__card {
  align-items: center;
  text-align: center;
}
.fonctionnalities__title {
  font-weight: bold;
}

.restaurant {
  background-color: #ececec;
  height: 77rem;
  padding-top: 2rem;
}
.restaurant .restaurantCard {
  height: 16rem;
  width: 90%;
  margin-left: 5%;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 1rem;
  position: relative;
}
.restaurant .restaurantCard a {
  text-decoration: none;
  color: black;
}
.restaurant .restaurantCard__image {
  border-radius: 1rem 1rem 0 0;
}
.restaurant .restaurantCard__isNew {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 15%;
  width: 30%;
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 1rem;
  font-weight: bold;
  background-color: #99E2D0;
  color: #32b091;
}
.restaurant .restaurantCard__description {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 1% 0 1%;
  height: 22%;
  width: 90%;
  border-radius: 0 0 0.5rem 0.5rem;
}
.restaurant .restaurantCard__description__like {
  margin: 0.6rem 0 0 -80%;
  text-align: right;
}
.restaurant .restaurantCard__description__like .liked, .restaurant .restaurantCard__description__like .unLiked {
  color: black;
  font-size: 1.5rem;
  position: relative;
}
.restaurant .restaurantCard__description__like .unLiked {
  transform-origin: center bottom;
  transition: transform 500ms ease-in-out;
  transform: scale(0);
  color: #9356DC;
}
.restaurant .restaurantCard__description__like .liked {
  left: 1.7rem;
}
.restaurant .restaurantCard__description__like:hover .unLiked {
  transform: scale(1);
}
.restaurant .restaurantCard__description__text {
  width: 80%;
}
.restaurant .restaurantCard__description__text h2, .restaurant .restaurantCard__description__text p {
  width: 100%;
  margin: 0 0 0 0.5rem;
}
.restaurant .restaurantCard__description__text p {
  margin-top: 0.3rem;
  font-weight: 350;
}

/***********   menu   ***********/
.menu-page-header {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 90%;
  margin-left: 5%;
  padding-top: 1rem;
}
.menu-page-header .fa-arrow-left-position {
  font-size: 1.5rem;
  color: black;
}
.menu-page-header a {
  margin-left: 8%;
  margin-right: 5%;
  width: 10%;
}
.menu-page-header p {
  margin-left: 5%;
  font-size: 2rem;
  font-family: "Roboto";
  width: 80%;
  font-family: "Shrikhand";
}

main .container .restaurantImage {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  width: 100%;
  height: 14rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
}
main .container .menuArea {
  background-color: #ececec;
  border-radius: 2.5rem 2.5rem 0 0;
  margin-top: -3rem;
}
main .container .menuArea__title {
  width: 90%;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand";
}
main .container .menuArea__1 {
  animation: easyAppearance 1s ease-in-out;
}
main .container .menuArea__2 {
  animation: easyAppearance 2s ease-in-out;
}
main .container .menuArea__3 {
  animation: easyAppearance 3s ease-in-out;
}
main .container .menuArea__menu .menuItem1 {
  animation: easyAppearance 0.5s ease-in-out;
}
main .container .menuArea__menu .menuItem2 {
  animation: easyAppearance 1s ease-in-out;
}
main .container .menuArea__menu .menuItem3 {
  animation: easyAppearance 1.5s ease-in-out;
}
main .container .menuArea__menu .menuArea__menu__item:hover .selected {
  margin-right: 0;
}
main .container .menuArea__menu .menuArea__menu__item:hover .selected .rot {
  transform: rotate(360deg);
}
main .container .menuArea__menu .menuArea__menu__item:hover .desc {
  width: 60%;
}
main .container .menuArea button {
  width: 60%;
  margin: 20%;
  transition: all 500ms ease-in-out;
}
main .container .menuArea button:hover {
  filter: brightness(120%);
}

/*# sourceMappingURL=style.css.map */
