%button
{
   
   width: 60%;
   margin: 20%;   
   height: 3.5rem;
   border: none;
   border-radius: 1.75rem;
   color: $white;
   font-weight: bold;
   font-size: 1rem;
   padding-left: 3%;
   background: linear-gradient(to bottom right,$secondary 1%, $primary 99% );         
   //@extend %boxShadow;
   box-shadow: 0.06rem 0.06rem 0.06rem  0.06rem $dark-grey ;
   transition: all 500ms ease-in-out;  
  // transition: box-shadow 500ms ease-in-out;



   &:hover{
      filter: brightness(110%) ;
      box-shadow: 0.20rem 0.20rem 0.20rem 0.20rem $dark-grey ;
              
   }

   @media screen and (min-width: 768px){

      width: 30%;
      margin-left: 35%; 
     
   }


}