%button
{
   
   width: 60%;
   margin: 20%;   
   height: 3.5rem;
   border: none;
   border-radius: 1.75rem;
   color: $white;
   font-weight: bold;
   font-size: 1rem;
   padding-left: 3%;
   background: linear-gradient(to bottom right,$secondary 1%, $primary 99% );         
   @extend %boxShadow;
   transition: all 500ms ease-in-out;  


   &:hover{
      filter: brightness(120%) ;              
   }
}