%card
{
   display: flex;
   width: 80%;
   height: 5rem;
   margin-top: 1rem;
   margin-left: 10%;
   border-radius: 1rem;
   border: solid 0.1rem lighten($dark-grey, 20%);
   background-color: lighten($dark-grey, 20%) ;
   @include boxShadow(rgba(221, 218, 218, 0.76),1.5px);

   &:hover
    {
        background-color: lighten($primary, 30%) ;
        .iconFonction{
            color: $primary;
        }   
    }
}