%location{


    width: 100%;
    background-color:lighten($dark-grey, 8%) ;
    border-top: 0.12rem solid  $dark-grey;
    color: black;
    @include alignmentCenter(center, center) ;
    @extend %textPolice;

    .positionArea{
        width: 8rem;
        width: 75%;
        margin-left: 25%;
        @include displayFlex(flex,row,null);
        @include alignmentCenter(center, center) ;


        .iconPosition
        {
            margin-right: 5%;
        }
    }
}