%location{

    width: 100%;
    display: flex;
    justify-content: center;
    background-color:lighten($dark-grey, 8%) ;
    border-top: 0.12rem solid  $dark-grey;
    color: black;


    form{
        height: 3rem;
        @include displayFlex(flex,row,null);
        @include alignmentCenter(center, center) ;

        input{
            margin-left: 5%;
            border: none;
            background-color:lighten($dark-grey, 8%) ;
            font-family: 'Roboto';
            font-weight: 100;
        }
    }
}