@font-face {
    font-family: 'Roboto';
    src: url('../css/Police/Roboto/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Shrikhand';
    src: url('../css/Police/Shrikhand/Shrikhand-Regular.ttf') format('truetype');
}