
@keyframes opac {
    0% { 
        opacity: 1;
        z-index: 999;   
     }
    100% { 
        opacity: 0;
        z-index: -1;
     }
    
}


@keyframes easyAppearance {
    from { 
        transform: translateY(.5rem);
        opacity: 0;
    }
    to { 
        transform: translateY(0);
        opacity: 1;
    }
  }



  @keyframes spin {
    0% { 
        transform: rotate(1turn); 
    }
    25% { 
        transform: rotate(2turn); 
    }
    50% { 
        transform: rotate(3turn); 

    }
    75% { 
        transform: rotate(4turn); 

    }
    100% { 
        transform: rotate(5turn);  
    }
  }
