
@mixin borderRadius ($posi,$val) {

    @if ($posi=='bottom'){
        border-radius: 0 0 $val $val  ;
    }
    @if ($posi=='top'){       
        border-radius: $val $val 0 0 ;
    }
    @if($posi=='both'){
        border-radius: $val $val $val $val  ;
    }
    @if($posi=='right'){
        border-radius: 0 $val $val 0  ;
    }
    
}

@mixin boxShadow($col,$val)
{
   box-shadow: $val $val $val $val $col ;
}

@mixin displayFlex($disp, $flexDir, $justifyCont)
{

   display: $disp;
   flex-direction: $flexDir;
   justify-content: $justifyCont;
}

@mixin alignmentCenter ($item,$text)
{
  align-items: $item;
  text-align: $text;
}


